@media (max-width: $screen-xs-max) {
  .about-us{
    .black-sec {
      margin: 0;
  }
.pdt-40 {
    padding: 0 0 10px;
}
.abt-img1{
  padding-bottom: 15px;
}
  .vis-mis{
    margin: 20px;
    padding: 0;
    p{
      text-align: justify;
    }
  }
  }
  .events{
    .content-sec p{
      text-align: justify;
    }
   .event-info .text-sec {
    padding: 30px 30px;
  }
}
}
.news{
  .content-sec{
    padding-top: 10px;
    .category{
          padding-bottom: 15px;
    }
     .category-selection{
       padding-bottom: 0;
      .selectpicker{
            vertical-align: -webkit-baseline-middle;
            font-size: 11px;
  padding: 3px 42px 0 12px;
          }
   }
  }
  .news-sec:last-child{
    padding-bottom: 10px;
  }
}
.testimonial-sec .pd100{
  padding: 10px;
}
.col-pd{
  padding-right: 10px;
  padding-left: 10px;
}
.enquiry-form{
  .form-group:last-child{
    margin-top: 15px;
  }

}
@media (max-width: $screen-sm-max) {}

@media (max-width: $screen-md-max) {}
