@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #e21e23 !default;
$brand-info: #000072 !default;
$base: #1c1b16 !default;
$white: #ffffff !default;
$font-family-sans-serif:'Josefin Sans', 'Roboto', Arial, sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
.row-flex {
    @include display(flex);
}

.col-flex {
    @include flex(1);
    // flex: 0 0 20%;
    // max-width: 20%;
}

body {
    // padding-top: 70px;
    padding-top: 51px;
    font-family: $font-family-sans-serif;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}
.font-roboto{
  font-family: 'roboto';
}
.font-bold{
  font-weight: 700;
}
.font-regular{
  font-weight: 400;
}
.margin0{
  margin: 0;
}
.padding0{
  padding: 0;
}
.al-list{
  ul{
    display: block;
    list-style: none;
    li{
    display: inline-block;
    }
  }
}
.color-base{
  color:$base;
}
.color-white{
  color:$white;
}
.color-red{
  color:$brand-danger;
}
.text-up{
  text-transform: uppercase;
}
.width100{
  width: 100%;
}
.display-inline{
display: inline-block;
}


.banner{
  position: relative;
}
///about us
.about-us{
  .pdt-40{
    padding: 40px 0;
  }

  .vis-mis{
    background: url("../img/black-banner.png");
    position: relative;
    padding: 0 80px 20px;
    margin: 40px;
      color: $white;
.vis-head{
  padding-top: 35px;
    font-weight: bold;
}
  }
  .content-sec{
    h2{
      font-weight: bold;
    }
    p{
      font-size: 16px;
      letter-spacing: 0.2px;
      text-align: justify;
    }
  }
}
.banner-rib{
      position: absolute;
  top: 0;
  width: 180px;
  right: 0;
    }
.black-sec{
  position: relative;
}
.black-comma{
  position: absolute;
  right: 4%;
  width: 60px;
  margin-top: -30px;
}
.black-rib{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 130px;
}

////careers
.display-none{
  display: none!important;
}


.form-sec{
  input{
    @include placeholder{
      color: #ccc;
    }
  }

  padding-top: 10%;
  input{
  border: 0;
border-bottom: 1px solid #ccc;
}
  .submit-sec{
    margin-top: 30px;
  }
}
.upload-btn{
  padding-left: 10px;
  span{
    float: left;
    line-height: 2;
color: #ccc;
  }
  .upl-label{
    border: 1px solid $brand-danger;
    color: $brand-danger;
    padding: 4px 8px;
    cursor: pointer;
}
  border: 0;
border-bottom: 1px solid #ccc;
.input{
display: none;
}
}
.red-sec{
  background-color: $brand-danger;

}
  .careers-sec{
        padding: 28px 18px;
        p{
          color: $white;
          font-size: 16px;
letter-spacing: 0.2px;
        }
  }
@import "fancybox-override";
@import "mobile";
