<section>
  <div class="container">
  <div class="home-slider">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
    <div class="slider-nav">
      <div class="al-list text-center">
        <ul class="text-up">
          <li>
          <a href="">Alpha at Exhibition</a>
          </li>
          <li>
          <a href="">LOREM IPSUM</a>
          </li>
          <li>
          <a href="">LOREM IPSUM</a>
          </li>
          <li>
          <a href="">LOREM IPSUM</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
