<section class="bg-journey">
<div class="container">
  <header class="page-header">
    <h1 class="color-red font-revelution font-bold margin0">APLHA'S</h1>
    <h1 class="color-red font-revelution font-bold margin0">JOURNEY</h1>

  </header>

  <ul class="timeline">
    <li><div class="tldate ">2016</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t1.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
                Diversified to
            manufacture
            Mulch film
              </p>
            </div>
          </div>
          </div>
        </div>


      </div>
    </li>

    <li><div class="tldate">2015</div></li>

    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6 padding0">
              <div class="tl-data text-right">
                <p class="font-roboto">
        Diversified to
manufacture
Collation Shrink film
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t2.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>


      </div>
    </li>
    <li><div class="tldate">2013</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t3.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
        Became India’s largest
POF Shrink Film
manufacturer
(3,600 MT/year)
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    </li>
    <li><div class="tldate">2011</div></li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6 padding0">
              <div class="tl-data text-right">
                <p class="font-roboto">
        Diversified to
manufacture
Collation Shrink film
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t4.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>


      </div>
    </li>
    <li><div class="tldate">2009</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t5.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
Doubled manufacturing
capacity for PET bottles
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    </li>
    <li><div class="tldate">2006</div></li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6 padding0">
              <div class="tl-data text-right">
                <p class="font-roboto">
Diversified to
manufacture PET bottles
for pharmaceuticals
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t6.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>


      </div>
    </li>
    <li><div class="tldate">2005</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t5.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
Diversified to
manufacture
POF Shrink film
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    </li>
    <li><div class="tldate">2000</div></li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6 padding0">
              <div class="tl-data text-right">
                <p class="font-roboto">
Became Asia’s largest
PPTQ film manufacturer
(24,000 MT/year)
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t8.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>


      </div>
    </li>
    <li><div class="tldate">1995</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t9.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
Became India’s largest
by increasing capacity
by 10x in five years
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    </li>
    <li><div class="tldate">1990</div></li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6 padding0">
              <div class="tl-data text-right">
                <p class="font-roboto">
Replaced PVC with
PP/PE bags & liners
in textile industry
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t10.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>
    </div>
    </li>
    <li><div class="tldate">1989</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t11.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding0">
            <div class="tl-data">
              <p class="font-roboto">
Alpha Plastomers
is incorporated
              </p>
            </div>
          </div>
          </div>
        </div>
    </div>
    </li>
  </ul>
  </section>
