<section class="bg-journey">
<div class="container">
  <header class="page-header">
    <h1 class="color-red font-revelution font-bold margin0">APLHA's</h1>
    <h1 class="color-red font-revelution font-bold margin0">JOURNEY</h1>

  </header>

  <ul class="timeline">
    <li><div class="tldate">2016</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t1.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-data">
              <p class="font-roboto">
                Diversified to
            manufacture
            Mulch film
              </p>
            </div>
          </div>
          </div>
        </div>


      </div>
    </li>

    <li><div class="tldate">2015</div></li>

    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel line-left">
        <div class="row">
          <div class="journey-sec">
            <div class="col-md-6">
              <div class="tl-data text-right">
                <p class="font-roboto">
        Diversified to
manufacture
Collation Shrink film
                </p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="tl-img">
              <img src="img/t2.jpg" alt="" class="img-responsive">
            </div>
          </div>

          </div>
        </div>


      </div>
    </li>
    <li><div class="tldate">2013</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel line-right">
        <div class="row">
          <div class="journey-sec">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-img">
              <img src="img/t1.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tl-data">
              <p class="font-roboto">
        Became India’s largest
POF Shrink Film
manufacturer
(3,600 MT/year)
              </p>
            </div>
          </div>
          </div>
        </div>


      </div>
    </li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Some Important Date!</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/03/2014</small></p>
        </div>
        <div class="tl-body">
          <p>Write up a quick summary of the event.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel noarrow">
        <div class="tl-heading">
          <h4>Secondary Timeline Box</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/01/2014</small></p>
        </div>
        <div class="tl-body">
          <p>This might be a follow-up post with related info. Maybe we include some extra links, tweets, user comments, photos, etc.</p>
        </div>
      </div>
    </li>

    <li><div class="tldate">Feb 2014</div></li>

    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>The Winter Months</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/23/2014</small></p>
        </div>
        <div class="tl-body">
          <p>Gee time really flies when you're having fun.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Yeah we're pretty much done here</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/11/2014</small></p>
        </div>
        <div class="tl-body">
          <p>Wasn't this fun though?</p>
        </div>
      </div>
    </li>
  </ul>
  </section>
