<section>
  <div class="banner">
    <img src="img/news.jpg" alt="" class="img-resposive width100">
  </div>
</section>
<section class="mt-60">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="nw-detail">
          <div class="al-relative">
          <img src="img/nw1.jpg" alt="" class="img-responsive">
          <div class="date-sec">
            <span>September 2016</span>
          </div>
          </div>
<div class="nw-main-title">
  <h1 class="color-red font-bold">  Meet Alpha’s Plastic Super Family in Mexico!</h1>
</div>
<div class="nw-detail">
  <p>
    The packaging industry as a whole is very boring. Because it is predominantly in the B2B sector, the scope for experimenting is less. Majority of the companies have named their products based on their scientific qualities, which makes them difficult to remember. Only people from within the industry get the hang of it over a period of time.
  </p>
  <p>
    The packaging industry as a whole is very boring. Because it is predominantly in the B2B sector, the scope for experimenting is less. Majority of the companies have named their products based on their scientific qualities, which makes them difficult to remember. Only people from within the industry get the hang of it over a period of time.
  </p>
  <p>
    But, ALPHA has always believed in ‘Adding Value’ to their customers and the society at large. Why does this industry necessarily have to be boring? Why follow the same uninteresting naming convention? We decided to break the routine and do something interesting. Products will stimulate more curiosity if we add a face to them instead of giving them names based on their scientific properties. In order to differentiate Alpha from the rest, we created the Plastic Super Family, which is more relatable and spot- on entertaining. Each of the products have few distinct super powers, by which we mean the properties of Plastic, that represents a particular superhero and together they form the Plastic Super Family. PSF has 4 members - a father, Mother, teenage son and an elder daughter.
  </p>
  <p>
    We are very excited to present our Plastic Super Family at the Pack Expo 2016 in Mexico. They are fun, entertaining and definitely the forerunners in their categories.
  </p>
</div>

        </div>

      </div>
      <div class="col-md-4">
<div class="rl-news">
  <h2 class="color-red font-bold">
    RELATED NEWS
  </h2>
    <div>
      <img src="img/n1.jpg" alt="" class="img-responsive">
      <h3 class="color-red font-bold">A major stride for Alpha
at the Expo Pack Mexico</h3>
    </div>
    <div class="rl-nw">
      <img src="img/n2.jpg" alt="" class="img-responsive">
      <h3 class="color-red font-bold">First Annual Meet</h3>
    </div>
    <div class="rl-nw">
      <img src="img/n3.jpg" alt="" class="img-responsive">
      <h3 class="color-red font-bold">Alpha Pharma Roorkee
commissions ASB...</h3>
    </div>
</div>
      </div>
    </div>
  </div>
</section>
