<div class="news">
  <div class="banner">
  <img src="" alt="" class="img-responsive">
  <div class="banner-text">
    <h2>NEWS</h2>
  </div>
  <img src="" alt="" class="img-responsive">
  </div>
  <div class="container">
  <div class="content-sec">
  <div class="category-selection">

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>

</div>
</div>

</div>
  </div>
  </div>
</div>
