
<div class="news">
  <div class="banner">
  <img src="" alt="" class="img-responsive">
  <div class="banner-text">
    <h2>NEWS</h2>
  </div>
  <img src="" alt="" class="img-responsive">
  </div>
  <div class="container">
  <div class="content-sec">
  <div class="category-selection text-center">
    <select class="selectpicker">
      <option disabled selected>Choose Category</option>
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
    <select class="selectpicker">
      <option disabled selected>Choose Category</option>
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="news-sec">
      <div class="news-img">
          <img src="" alt="" class="img-responsive">
        <div class="date-sec">
          <span>September 2016</span>
        </div>
      </div>
      <h4>Meet Alpha’s Plastic Super Family in Mexico!</h4>
        <p>The packaging industry as a whole is very boring. Because it is predominantly in the B2B sector, the scope for experimenting is less. Majority of the companies have named their products based on their scientific qualities, which makes them difficult to remember. Only people from within the industry get the hang of it over a period of time.
</p>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
</div>

</div>
  </div>
  </div>
</div>
