<div class="pet">
    <div class="banner">
      <div class="banner">
      <img src="img/careers/careers.png" alt="" class="img-responsive">
      <img src="img/banner-ribbon.png" alt="" class="img-responsive banner-rib">
      </div>
    </div>
    <div class="red-sec">
        <div class="container">
            <div class="careers-sec">
                <p>Durable and Dependable PET Bottles & Jars are extremely light weight and come in multiple shapes. They assure no leakage and zero breakage.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="black-sec text-center">
            <h3>MARKETS</h3>
          <div class="pdf-1 text-left">
              <div class="pdf-in">
                <img src="img/pdf-file.png" alt="" class="img-responsive display-inline">
                            <span>Pharmaceuticals</span>
              </div>
          <div class="pdf-in">
              <img src="img/pdf-file.png" alt="" class="img-responsive display-inline">
                      <span>Cosmetic &amp; FMCG</span>
          </div>
          </div>
          <div class="pdf-1">

          </div>

        </div>
        <div class="petslider">
          <h3 class="text-center">GALLERY</h3>
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/gallery/1.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/2.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/3.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/4.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/5.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/6.jpg"/>
                    </li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/gallery/1.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/2.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/3.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/4.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/5.jpg"/>
                    </li>
                    <li>
                        <img src="img/gallery/6.jpg"/>
                    </li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
        </div>
        <div class="testimonial-sec">
            <img src="" alt="" class="img-responsive">
            <h3 class="text-center">TESTIMONIALS</h3>
            <div class="profile-desc">
              <img src="" alt="" class="img-responsive">
                <flex-slider flex-slide="item in flexprofile track by $index" animation="slide" item-margin="0" animationloop="true">
                    <li>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile-img">
                                    <img ng-src="{{item.image}} " alt=" " class="img-responsive ">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="profile-box">
                                    <div class="profile-info">
                                        <p>{{item.desc}}</p>
                                        <h4>{{item.name}}</h4>
                                        <p class="">{{item.company}}</p>
                                        <p class="">{{item.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </flex-slider>
  </div>
        </div>

      <div class="enquiry-sec text-center">
          <h3>ENQUIRE NOW</h3>
          <form>
            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
             <input type="text" class="form-control" id="name" placeholder="Enter Name">
                 </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4  col-md-offset-2">
            <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Enter Email">
             </div>
              </div>
              <div class="col-md-4">
            <div class="form-group">
            <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number">
             </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-2">
            <div class="form-group">
              <div class="radio">
      <label><input type="radio" name="optradio">PP/PE Liners</label>
      <label><input type="radio" name="optradio">POF Shrink Film</label>
    </div>
     </div>
              </div>
              <div class="col-md-4">
            <div class="form-group">
              <div class="radio">
      <label><input type="radio" name="optradio">PET Bottles</label>
      <label><input type="radio" name="optradio">Speciality Films</label>
    </div>
             </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
            <input type="text-area" class="form-control" id="message" placeholder="Message">
             </div>
              </div>
            </div>
            <div class="submit-sec text-center">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
      </div>
    </div>
