
<div class="pet">
  <div class="banner">
  <img src="" alt="" class="img-responsive">
  <div class="banner-text">
    <h2>PET
    </h2>
    <p>BOTTLES</p>
  </div>
  <img src="" alt="" class="img-responsive">
  </div>
  <div class="red-sec">
    <div class="container">
      <div class="careers-sec">
        <p>Durable and Dependable PET Bottles & Jars are extremely light weight and come in multiple shapes. They assure no leakage and zero breakage.
</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="black-sec">
      <h3>Markets</h3>
    </div>
  </div>
