<div class="plant-loc">
  <section>
      <div class="banner">
          <img src="img/plant/CONTACTUS.jpg" alt="" class="img-resposive ban-full">
      </div>
  </section>
  <section>
      <div class="container">
  <div class="mgt-14">
            <div class="row">
        <div class="col-md-8 padding0">
            <div class="location">
                <img src="img/map.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4 padding0">
    <div class="black-sec">
              <div class="pl-location">
          <h3 class="color-red">Alpha Plastomers, Daman</h3>
          <p>Plot No. 374, Shed A/2</p>
          <p>Alpha Industrial Park,</p>
          <p>Athiawad, Dabhel, Daman – 396210</p>
          <p>India</p>
      </div>
      <div class="pl-location">
          <h3 class="color-red">Alpha Pharma Roorkee</h3>
          <p>Shed No. D-1/2,</p>
          <p>Dev Bhoomi Industrial Estate,</p>
          <p>Pohana Iqbalpur Road, Bantakhedi – 247667</p>
          <p>India</p>
      </div>
    </div>
        </div>
    </div>
  </div>
      </div>
  </section>
  <section>
    <div class="container">
      <div class="enquiry-sec text-center pdt-40">
        <h2 class="text-up font-revelution text-head color-red ft-40">ENQUIRE NOW</h2>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-sec">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  col-md-offset-2">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 col-xs-12 col-pd">
                            <div class="form-group">
                                <div class="radio rad-sec">
                                    <label class="pull-left"><input type="radio" name="optradio" class="">PP/PE Liners</label>
                                    <label class="pull-right"><input type="radio" name="optradio" class="">POF Shrink Film</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-pd">
                            <div class="form-group">
                                <div class="radio rad-sec">
                                    <label class="pull-left"><input type="radio" name="optradio" class="">PET Bottles</label>
                                    <label class="pull-right"><input type="radio" name="optradio" class="">Speciality Films</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <input type="text-area" class="form-control" id="message" placeholder="Message">
                            </div>
                        </div>
                    </div>
                    <div class="submit-sec text-center">
                        <button type="submit" class="btn btn-default sub-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </section>
  </div>
