<div class="plant-loc"><section>
      <div class="banner">
          <img src="img/plant/CONTACTUS.jpg" alt="" class="img-resposive ban-full">
      </div>
  </section>
  <section>
      <div class="container">
  <div class="mgt-14">
            <div class="row">
        <div class="col-md-8 padding0">
            <div class="location">
                <img src="img/map.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4 padding0">
    <div class="black-sec">
              <div class="pl-location">
          <h3 class="color-red">Alpha Plastomers, Daman</h3>
          <p>Plot No. 374, Shed A/2</p>
          <p>Alpha Industrial Park,</p>
          <p>Athiawad, Dabhel, Daman – 396210</p>
          <p>India</p>
      </div>
      <div class="pl-location">
          <h3 class="color-red">Alpha Plastomers, Roorkee</h3>
          <p>Shed No. D-1/2,</p>
          <p>Dev Bhoomi Industrial Estate,</p>
          <p>Pohana Iqbalpur Road, Bantakhedi – 247667</p>
          <p>India</p>
      </div>
    </div>
        </div>
    </div>
  </div>
      </div>
  </section>
  </div>
