<div class="pof">
  <div class="banner">
    <img src="img/pof/pof.png" alt="" class="img-responsive ban-full">
    <!-- <img src="img/banner-ribbon.png" alt="" class="img-responsive banner-rib hidden-xs"> -->
  </div>
  <div class="red-sec">
    <div class="container">
      <div class="careers-sec">
        <p>Our Safe and Secure shrink films protect the content inside the packaging from dust and moisture.They are highly
          cost effective and come with sheen and transparency</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-sec">
      <div class="application-slider pd40">
        <h2 class="text-up font-revelution text-head color-red text-center">APPLICATIONS</h2>
        <flex-slider flex-slide="item in flexapplication track by $index" animation="slide" item-margin="40" animationloop="true"
          item-width="100">
          <li>
            <div class="app-img text-center">
              <img ng-src="{{item.image}} " alt=" " class="app-icons">
              <p>{{item.desc}}</p>
            </div>
          </li>
        </flex-slider>
      </div>
      <div class="options-sec text-center">
        <h2 class="text-up font-revelution text-head color-red text-center pdb10">OPTIONS</h2>
        <div class="option-block">
          <img src="img/pof/11.png" alt="" class="img-responsive">
          <p>8 Color Printing</p>
        </div>
        <div class="option-block">
          <img src="img/pof/10.png" alt="" class="img-responsive">
          <p>Micro/Macro Perforations</p>
        </div>
        <div class="option-block">
          <img src="img/pof/9.png" alt="" class="img-responsive">
          <p>Pouches</p>
        </div>
        <div class="option-block">
          <img src="img/pof/8.png" alt="" class="img-responsive">
          <p>Sleeves</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-sec">
    <img src="img/black-ribbon.png" alt="" class="img-responsive table-in hidden-xs">
    <div class="container">
      <div class="row pd120">
        <div class="col-md-6">
          <h2 class="text-up font-revelution text-head text-center">AVAILABLE SIZES</h2>
          <table class="table table-bordered size-table">
            <thead class="thead-default">
              <tr>
                <th>Sr No</th>
                <th>Microns</th>
                <th>Length(MTS.)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>12</td>
                <td>1665</td>
              </tr>
              <tr>
                <td>02</td>
                <td>15</td>
                <td>1332</td>
              </tr>
              <tr>
                <td>03</td>
                <td>19</td>
                <td>1067</td>
              </tr>
              <tr>
                <td>04</td>
                <td>25</td>
                <td>800</td>
              </tr>
              <tr>
                <td>05</td>
                <td>30</td>
                <td>400</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2 class="text-up font-revelution text-head text-center">Technical Specifications</h2>
          <div class="spec">
            <img src="img/pdf-file.png" alt="" class="img-responsive">
            <span>Alpha Group HP-POF Specification</span>
          </div>
          <div class="spec">
            <img src="img/pdf-file.png" alt="" class="img-responsive">
            <span>Alpha Group Normal vs High Performance POF Shrink Film (Ver. 2)</span>
          </div>
          <div class="spec">
            <img src="img/pdf-file.png" alt="" class="img-responsive">
            <span>Alpha Group POF Specification (Ver. 2)</span>
          </div>
          <div class="spec">
            <img src="img/pdf-file.png" alt="" class="img-responsive">
            <span>Alpha Plastomers POF-Soft Specification</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="petslider">
    <div class="container">
      <div class="gallery-holder pd-41">
        <h2 class="text-center text-up font-revelution text-head">GALLERY</h2>
        <div id="slider" class="flexslider gal">
          <ul class="slides">
            <li>
              <img src="img/pof/POF Slider.jpg" />
            </li>
            <li>
              <img src="img/pof/POF Slider.jpg" />
            </li>
            <li>
              <img src="img/pof/POF Slider.jpg" />
            </li>
            <li>
              <img src="img/pof/POF Slider.jpg" />
            </li>
            <li>
              <img src="img/pof/POF Slider.jpg" />
            </li>
            <!-- items mirrored twice, total of 12 -->
          </ul>
        </div>
        <div id="carousel" class="flexslider thumb">
          <ul class="slides">
            <li>
              <img src="img/pof/1.jpg" />
            </li>
            <li>
              <img src="img/pof/2.jpg" />
            </li>
            <li>
              <img src="img/pof/3.jpg" />
            </li>
            <li>
              <img src="img/pof/4.jpg" />
            </li>
            <li>
              <img src="img/pof/5.jpg" />
            </li>
            <li>
              <img src="img/pof/6.jpg" />
            </li>
            <li>
              <img src="img/pof/7.jpg" />
            </li>
            <!-- items mirrored twice, total of 12 -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-sec">
    <img src="img/black-ribbon1.png" alt="" class="img-responsive test-banner hidden-xs">
    <div class="container">
      <div class="profile-desc">
        <img src="img/comma.png" alt="" class="img-responsive test-comma hidden-xs">
        <h2 class="text-center text-up font-revelution text-head color-red">TESTIMONIALS</h2>
        <flex-slider flex-slide="item in flexprofile track by $index" animation="slide" item-margin="0" animationloop="true">
          <li>
            <div class="row pd100">
              <div class="col-md-3">
                <div class="profile-img">
                  <img ng-src="{{item.image}} " alt=" " class="img-responsive ">
                </div>
              </div>
              <div class="col-md-8">
                <div class="profile-box">
                  <div class="profile-info">
                    <p>{{item.desc}}</p>
                    <h4>{{item.name}}</h4>
                    <p class="company">{{item.company}}</p>
                    <p class="location">{{item.location}}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
  <div class="enquiry-form">
    <button type="button" class="btn btn-default btn-brochure">Downlaod Brochure</button>
    <div class="container">
      <div class="enquiry-sec text-center pdt-40">
        <h2 class="text-up font-revelution text-head color-red">ENQUIRE NOW</h2>
        <form class="form-sec">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4  col-md-offset-2">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter Email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2 col-xs-12 col-pd">
              <div class="form-group">
                <div class="radio rad-sec">
                  <label class="pull-left"><input type="radio" name="optradio" class="">PP/PE Liners</label>
                  <label class="pull-right"><input type="radio" name="optradio" class="">POF Shrink Film</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-pd">
              <div class="form-group">
                <div class="radio rad-sec">
                  <label class="pull-left"><input type="radio" name="optradio" class="">PET Bottles</label>
                  <label class="pull-right"><input type="radio" name="optradio" class="">Speciality Films</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text-area" class="form-control" id="message" placeholder="Message">
              </div>
            </div>
          </div>
          <div class="submit-sec text-center">
            <button type="submit" class="btn btn-default sub-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="also-sec">
      <h2 class="text-center color-red font-revelution text-head">Also View</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="special-films">
            <h3>Speciality Films</h3>
            <img src="img/pof/vmore1.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6">
          <div class="bags-liners">
            <h3>PP/PE Bags and Liners</h3>
            <img src="img/pof/vmore2.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
