<section>
  <div class="banner">
    <img src="img/ql1.png" alt="" class="img-resposive width100">
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="color-red text-up">quality policy</h2>
      </div>
      <div class="col-md-6">
        <img src="img/ql2.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="qual">
          <p>
            At Alpha, we pledge to maintain a total quality system for manufacturing our products.
          </p>
          <span class="color-red">
Our focus is on customer satisfaction, which will be achieved by</span>
          <ul class="padding0">
            <li>
              Continuous monitoring and improving our processes
            </li>
            <li>
              Complying with customers’ statutory and regulatory requirements
            </li>
            <li>
              Motivating our employees in all departments
            </li>
            <li>
              Upgrading our technology and SOP as required
            </li>
            <li>
              Training employees for continuous improvement
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="color-red">Certificates</h2>
      </div>
      <div class="col-md-3">
        <div class="ql-box">
          <img src="img/cr1.jpg" alt="" class="img-responsive">
          <span>Alpha Plastomers, Daman</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ql-box">
          <img src="img/cr2.jpg" alt="" class="img-responsive">
          <span>Alpha Plastomers, Roorkee</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ql-box">
          <img src="img/cr3.jpg" alt="" class="img-responsive">
          <span>Alpha Plastomers, Daman</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ql-box">
          <img src="img/cr4.jpg" alt="" class="img-responsive">
          <span>Alpha Plastomers, Roorkee</span>
        </div>
      </div>
    </div>

  </div>
</section>
<section>
  <div class="red-ribbon">
    <img src="img/red-r1.jpg" alt="">
  </div>
<div class="container-fluid">
  <div class="ach-bg">
    <div class="text-center">
      <h2>Achievements</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a1.png" alt="">
          <p>First in India to manufacture POF Shrink Film using double-bubble technology</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a2.png" alt="">
          <p>India’s largest POF Shrink Film manufacturer</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a3.png" alt="">
          <p>One of India’s largest single-stage PET bottle manufacturer</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a4.png" alt="">
          <p>First Indian company to produce rigid and flexible packaging products</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a5.png" alt="">
          <p>Exporting products to five continents</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ach-sec text-center">
          <img src="img/a6.png" alt="">
          <p>Became Asia’s largest producer of PPTQ film in 2004</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
