<footer class="foot-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center">Copyright © 2016 Alpha Plastomers</p>
            </div>
            <div class="col-sm-4">
                <div class="social-icon class="text-center"">
                  <ul class="social-sec text-center list-unstyled">
                  <div class="social-set">
                      <li>
                    <a href=""> <i class="fa fa-facebook"></i> </a>
                    </li>
                  </div>
                  <div class="social-set2">
                      <li>
                          <a href=""> <i class="fa fa-linkedin"></i> </a>
                    </li>
                  </div>
                  </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <p>Designed b <a href="http://www.wohlig.com" target="_blank">TING</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
