<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="drop-menu dropdown-menu " ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav" class="{{menu.classis}} dropdown-submenu">
        <a ui-sref="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
        <ul class=" sub-sec" ng-if="submenu.subnavs!='';">
          <li ng-repeat="sub in submenu.subnavs" class="{{menu.classis}}">
            <a ui-sref="{{sub.anchor}}" ng-if="sub.anchor">{{sub.name}}</a>
            <a herf="{{sub.link}}" ng-if="sub.link">{{sub.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
